/* where to make your changes */
body {
  display: block;
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

/* also inherits several settings from picnicss */
pre {
  max-width: 90%;
  margin: 1em auto;
  border: 1px solid #aaa;
  padding: 0.6em;
}
